<div class="flex">
    <div class="m-auto">
        <mat-card style="margin-top: 200px; width: 100%; padding: 30px;">
            <mat-card-title>Login Here</mat-card-title>

            <mat-card-subtitle>Enter your email and password to login</mat-card-subtitle>

            <mat-card-content>
                <form class="loginForm" action="">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput type="email" required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" required />
                    </mat-form-field>
                </form>
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <button type="submit" *ngIf="!isLoggedIn" (click)="login()" mat-raised-button>Login</button>
                </mat-card-actions>
                <mat-progress-bar *ngIf="isLoggedIn" mode="indeterminate"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </div>
</div>