<mat-toolbar class="flex justify-content-beween" color="warn">
  <div routerLink="/" style="cursor:pointer"> CWCM-RabbitMQ Project </div>
  <div>
    <button mat-raised-button routerLink="/register" color="primary" style="margin-right:10px;">Register</button>
    <!-- <button mat-raised-button routerLink="/login" color="primary">Login</button> -->
    <button mat-raised-button routerLink="/bulk-registeration" color="primary">Bulk Registration</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
