/* You can add global styles to this file, and also import other style files */

.projectLogo a {
    text-decoration: none;
    color: white;
}

.flex {
    display: flex;
}

.justify-content-beween {
    justify-content: space-between;
}

.m-auto {
    margin: auto;
}

.my-custom-snackbar {
    margin: 0 !important;
    position: absolute;
    top: 60px;
}

.blue-snackbar {
    background-color: #2196F3;
}

.red-snackbar {
    background-color: #F44336;
}